.detail {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

.detail__poster {
  border-radius: 5px 5px 0 0;
}

.detail__info {
  display: flex;
  position: absolute;
  width: 100vw;
  bottom: 145px;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #fff;
  background-color: hsla(360, 100%, 0%, 0.75);
  padding: 10px 10px 15px 10px;
}

.detail__plot {
  display: flex;
  width: 100vw;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  padding: 10px 10px 15px 10px;
}

.detail__plot__title {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px 10px 0;
}

.detail__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ff6026;
  font-size: 12px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
}
