.form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__label {
  padding: 15px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.form__input {
  padding: 10px;
  margin: 10px;
  width: 135px;
}

.form__button {
  padding: 10px;
  margin: 10px;
  width: 158px;
  border: 0;
  color: #fff;
  background-color: #ff6026;
}
