.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.navbar__icon {
  padding: 0 40px;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  border-radius: 0 5px 5px 5px;
  background-color: #fff;
  top: 40px;
  left: 30px;
  position: absolute;
  padding: 10px 0;
}

.navbar__title {
  margin: 0 auto;
}

.navbar__menu__item {
  padding: 10px 10px;
  border-bottom: solid 1px #333;
  color: #000;
}
